.messages-window {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  padding-bottom: 35px;
  margin-left: -15px;
  padding-left: 15px;
}

.messages-window .ant-comment-content-detail {
  white-space: pre-line;
}

.messages-window .ant-comment-inner {
  margin-top: 2px;
  border-radius: 10px;
  margin-left: -12px;
  padding: 13px 12px 10px;
}

.messages-window .ant-comment-inner .ant-comment-avatar {
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.messages-window .unread>.ant-comment>.ant-comment-inner {
  background: #f3f5fc;
}

.messages-window .ant-comment-nested .ant-comment-inner {
  margin-left: -10px;
  padding: 12px 12px 10px;
}
